- content_for(:page_title) do
  %h1= @post.title
  .author
    By:
    = @post.author.name
:markdown
  #{@post.body}
  #####tags:
  #{@post.all_tags}

= link_to "Return to #{@post.author.name}'s Knowledgeable", user_posts_path(@post.author)
